<div class="container">
  <form [formGroup]="employeeForm" class="form-event" (ngSubmit)="onSubmit()" *ngIf="employeeForm">
    <h3 class="text-center mt-5 mb-3 font-weight-normal">Employee Form</h3>
    <div class="row my-3">
      <label for="employee_name" class="col-4">Employee Name</label>
      <div class="col-8">

        <input type="text" id="employee_name" name="employee_name" formControlName="employee_name" class="form-control"
          placeholder="" required autofocus>

        <div *ngIf="employee_name.invalid && employee_name.touched" class="alert alert-danger">
          <div *ngIf="employee_name.errors.required">Employee Name is required</div>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <label for="employee_salary" class="col-4">Employee Salary</label>
      <div class="col-8">

        <input type="text" id="employee_salary" name="employee_salary" formControlName="employee_salary"
          class="form-control" placeholder="" required autofocus>
        <div *ngIf="employee_salary.invalid && employee_salary.touched" class="alert alert-danger">
          <div *ngIf="employee_salary.errors.required">Employee Salary is required</div>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <label for="employee_age" class="col-4">Employee Age</label>
      <div class="col-8">

        <input type="text" id="employee_age" name="employee_age" formControlName="employee_age" class="form-control"
          placeholder="" required autofocus>
        <div *ngIf="employee_age.invalid && (employee_age.dirty || employee_age.touched)" class="alert alert-danger">
          <div *ngIf="employee_age.errors.required">Employee Age is required</div>
        </div>
      </div>
    </div>


    <div class="text-center">

      <button class="btn btn-lg btn-primary mx-auto my-2" [disabled]="employeeForm.invalid"
        type="submit">{{isUpdate? 'Update': 'Create'}}</button>
    </div>


  </form>

</div>
